<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sciekiv2">

    <application
        android:name=".RealmSetup"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SciekiTheme">
        <activity android:name=".ShowControlPanel"/>
        <activity android:name=".AddControlPanel" />
        <activity android:name=".StoredSewageView" />
        <activity android:name=".adapter.StoredSewageData" />
        <activity android:name=".TypeOfSewagePanel" />
        <activity android:name=".Rename" />
        <activity android:name=".CommunityPanel" />
        <activity android:name=".SewageDisposal" />
        <activity android:name=".ControlPanelActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>